mysql-connector-python
configparser
sqlalchemy
transformers>=4.40.0
torch
llama_index
faiss-cpu
pymysql
llama-index-vector-stores-faiss
llama-index-llms-huggingface
cryptography
streamlit
streamlit_chat
bitsandbytes
huggingface_hub
accelerate
llama-index-embeddings-huggingface